@font-face {
  font-family: "iconfont"; /* Project id 2673566 */
  src: url('iconfont.woff2?t=1644469733417') format('woff2'),
       url('iconfont.woff?t=1644469733417') format('woff'),
       url('iconfont.ttf?t=1644469733417') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-down:before {
  content: "\e843";
}

.icon-sort-up:before {
  content: "\e844";
}

.icon-qingchu:before {
  content: "\e713";
}

.icon-previewright:before {
  content: "\e75c";
}

.icon-ziyuan:before {
  content: "\e63b";
}

.icon-gongsi-:before {
  content: "\e613";
}

.icon-down:before {
  content: "\e610";
}

.icon-xiangzuo:before {
  content: "\e68b";
}

.icon-xiangyou:before {
  content: "\e68c";
}

.icon-tishi:before {
  content: "\e650";
}

.icon-tishi1:before {
  content: "\e6bf";
}

.icon-cuowu:before {
  content: "\e616";
}

.icon-tishi2:before {
  content: "\e662";
}

.icon-tishi3:before {
  content: "\e625";
}

.icon-tishi4:before {
  content: "\e718";
}

.icon-chenggong:before {
  content: "\e7b3";
}

.icon-tishi5:before {
  content: "\e61b";
}

.icon-cuowu1:before {
  content: "\e62a";
}

