.as-checkbox {
  display: inline-flex;
  align-items: center;
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  &.is-checked {
    color: #409eff !important;
    border-color: #409eff;
    opacity: 0.65;
    &:not(.is-disabled) {
      opacity: 1;
    }
  }
  &.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed;
  }
}

.as-checkbox__input {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  .as-checkbox__inner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    &:not(.is-disabled), &.is-checked {
      &::after {
        box-sizing: content-box;
        content: "";
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        width: 3px;
        height: 7px;
        left: 4px;
        position: absolute;
        top: 1px;
        transform: rotate(45deg) scaleY(1);
      }
    }

    &.is-disabled {
      background-color: #edf2fc;
      cursor: not-allowed;
    }

    &.is-checked {
      background-color: #409eff;
      border-color: #409eff;
    }
  }
  .as-checkbox__original {
    display: none;
  }
}

.as-checkbox__label {
  font-size: 14px;
  &:not(.is-disabled) {
    cursor: pointer;
  }
}

.is-bordered {
  box-sizing: border-box;
  padding: 8px 15px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
}
