@keyframes rotateUp {
    from {
        -webkit-transform: rotate(0);
    }


    to {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes rotateDown {
    from {
        -webkit-transform: rotate(180deg);
    }

    to {
        -webkit-transform: rotate(0);
    }
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-leave-to {
  opacity: 0;
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
input:-webkit-autofill {
	/* 字体颜色，需要设置，否则会变成黑色 */
	-webkit-text-fill-color: #333333 !important;
	/* 变成透明背景色的固定写法，只针对表单自动填充的背景色 */
	transition: background-color 5000s ease-in-out 0s;
}